@font-face {
  font-family: 'AV Hershey Simplex';
  src: url(../fonts/AVHersheySimplexMedium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: 'AV Hershey Simplex', sans-serif;
	font-weight: normal;
	color: white;
}

html {
	background-color: black;
	/*background-image: url(https://sdo.gsfc.nasa.gov/assets/img/latest/latest_2048_0131.jpg);*/
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: local;
	background-position: top;
}

::selection {
	background: white;
	color: black;
	text-shadow: none;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

#icon {
	width: 80px;
	display: block;
	margin: auto auto;
}

header, footer, .boxed {
	border: 3px double white;
	background: black;
	/*box-shadow: -2px 0px 6px red, 2px 0px 6px blue;*/
}

header {
	text-align: center;
	margin-top: 15px;
	overflow: hidden;
	height: auto;
}


header h1 {
	display: inline-block;
	font-weight: normal;
	font-size: 48px;
	margin: 5px 0px 5px 0px;
	color: white;
	/*text-shadow: 0px 0px 2px white, -2px 2px 3px red, 2px -2px 3px blue;
	transition: 0.3s;*/
}

header h1:hover {
	color: white;
	text-shadow: none;
}

footer {
	padding: 5px;
	text-align: center;
}

nav {
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 10px 0px;
}

.link {
	text-align: center;
	display: inline-block;
	font-weight: normal;
	font-size: 24px;
	padding: 5px;
}

.link a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

.link a:hover {
	color: transparent;
	text-shadow: 0px 0px 2px white, -2px 2px 3px red, 2px -2px 3px blue;
}

.boxed {
	font-size: 18px;
	padding: 0px;
	margin: 10px 0px 10px 0px;
}

#main-body h2 {
	font-weight: bold;
}

.box-top {
	border-bottom: 3px double white;
	margin: 0;
	padding-left: 10px;
	text-align: left;
}

.box-main {
	padding: 10px;
}

@media(min-width:600px) {
	#wrapper {
		width: 600px;
	}
}

