@font-face {
  font-family: 'AV Hershey Simplex';
  src: url(../fonts/AVHersheySimplexMedium.woff) format('woff');
}

* {
	font-family: sans-serif;
	color: white;
}

html {
	background-color: #000000;
	background-repeat: repeat;
	background-size: auto;
	background-attachment: fixed;
	background-position: top;
}

p {
	font-size: 14px;
	line-height: 1.6;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 18px;
}

button {
	background-color: transparent;
	font-size: 12;
}

::selection {
	background: white;
	color: black;
	text-shadow: none;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

#return {
	display: inline-block;
	border: 1px solid white;
	margin: 5px 0px;
	padding: 1px 5px;
}

#home-link {
	text-align: left;
	font-size: 14px;
}

header, footer, .boxed {
	border: 1px solid white;
	background: black;
	/*box-shadow: -2px 0px 6px red, 2px 0px 6px blue;*/
}

header {
	text-align: center;
	margin-top: 5px;
	padding: 15px;
	overflow: hidden;
	height: auto;
}

header :is(h1, h2, h3) {
	margin: 0;
}

h1, h2, h3 {
	line-height: 1;
	font-family: 'AV Hershey Simplex';
	font-weight: normal;
}

footer {
	text-align: center;
}

footer p {
	margin: 5px;
}

footer p, footer a {
	line-height: 1;
	font-size: 0.875rem;
}

nav {
	display: flex;
}

nav :is(a, #copy, #domain) {
	display: block;
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 3px 5px;
	transition: 0.3s;
}

nav.sub-title a {
	background: black;
	border: 1px solid white;
	border-top: none;
}

nav :is(a, #copy):hover {
	/*color: transparent;
	text-shadow: 0px 0px 2px white, -2px 2px 3px red, 2px -2px 3px blue;*/
	background-color: white;
	color: black;
}

#domain {
	font-family: monospace;
}

.boxed {
	margin: 25px 0px;
}

.boxed :is(h1, h2) {
	margin: 5px 10px;
}

.boxed p {
	margin: 10px;
}

.boxed a {
	color: white;
	text-decoration: none;
	font-family: monospace;
}

.boxed a:hover {
	background-color: white;
	color: black;
}

.box-top {
	border-bottom: 1px solid white;
}

#commit-date {
	font-family: monospace;
}

#box-404 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
#box-404 h1 {
	background: black;
	border: 1px solid white;
	padding: 10px;
}

@media(min-width:656px) {
	#wrapper {
		width: 656px;
	}
}

